:root{
  --bg:#f2f2f2;
  --card-bg:#fff;
  --text:#0b0b0b;
  --muted:rgba(11,11,11,0.55);

  --card-w:722px;
  --card-h:306px;
  --gap:20px;

  --card-radius:35px;
  --img-radius:23px;

  --pad:12px;

  --t:220ms cubic-bezier(.2,.9,.3,1);
}

*{box-sizing:border-box}
body{
  margin:0;
  font-family:"Inter",sans-serif;
  background:var(--bg);
  color:var(--text);
}

.wrap{
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width:1920px;
  margin:0 auto;
  padding:40px;
}

main{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.nav {
    font-family: "Inter", sans-serif;
}

.nav__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ---------- LOGO ---------- */

.nav__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

/* ---------- ACCOUNT ---------- */

.nav__account {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #262626;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

/* ---------- NAV MENU ---------- */

.nav__menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 540px;
    height: 43px;
    background: #262626;
    border-radius: 22px;

    display: flex;
    align-items: center;
    padding: 12px 30px;

    gap: 45px; 
}

/* Подложка */
.nav__bg {
    position: absolute;
    top: 4px;
    left: 4px;

    height: 35px;
    width: 103px;

    background: #ffffff;
    border-radius: 21px;

    transition: all 0.35s ease;
}

/* Кнопки */
.nav__item {
    position: relative;
    z-index: 2;

    background: none;
    border: none;

    margin: 0;
    /* height: 24px; */

    font-size: 16px;
    font-weight: 500;

    color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    transition: color 0.25s ease;
}

/* Активный пункт */
.nav__item.active {
    color: #000000;
}

/* ---------- АНИМАЦИЯ ПЕРЕХОДА ---------- */

.nav__item:nth-child(2).active ~ .nav__bg {
    left: 2px;
    width: 70px;
}

.nav__item:nth-child(3).active ~ .nav__bg {
    left: 74px;
    width: 98px;
}

.nav__item:nth-child(4).active ~ .nav__bg {
    left: 174px;
    width: 96px;
}

.nav__item:nth-child(5).active ~ .nav__bg {
    left: 272px;
    width: 63px;
}

.nav__burger {
    display: none;
    width: 28px;
    height: 20px;

    background: none;
    border: none;

    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
}

.nav__burger span {
    height: 2px;
    background: #000;
    border-radius: 2px;
}

.courses-header-inner {
    max-width: 1526px;
    margin: 0 auto;
    background: #262626;
    border-radius: 40px;

    padding: 24px 33px;

    display: flex;
    align-items:baseline;
    justify-content: space-between;

    width: 100%;
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

/* Заголовок */
.courses-header-title {
    font-size: 55px;
    font-weight: 300;
    line-height: 1.1;
    margin: 0;
}

/* Блок семестра */
.courses-header-semester {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
}

/* Цифра */
.courses-header-number {
    font-size: 55px;
    font-weight: 300;
    line-height: 1;
}

/* Текст "семестр" */
.courses-header-label {
    font-size: 18px;
    font-weight: 300;
    opacity: 0.55;
}


/* ===========================
   FLEX-КОНТЕЙНЕР ДЛЯ КОЛОНОК
   =========================== */
.cards-flex-row{
  display: flex;
  flex-direction: row;
  gap: 20px;                            
  justify-items: center;
}

.cards-flex-column{
  display: flex;
  flex-direction: column;
  gap: 20px;                            
  justify-items: center;
}

/* ===========================
   GRID-КОНТЕЙНЕР ДЛЯ КОЛОНОК
   =========================== */
.cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* две колонки */
    gap: 20px; /* одинаковые отступы везде */
    width: 100%;
    max-width: 1464px;
    margin: 0 auto;
}

/* ===========================
   КАРТОЧКА
   =========================== */
.course-card{
  max-width:var(--card-w);
  height:var(--card-h);
  background:var(--card-bg);
  border-radius:var(--card-radius);
  padding:var(--pad);
  display:flex;
  flex-grow: 1;
  gap:20px;
  box-shadow:0 2px 0 rgba(0,0,0,0.03);  
  transition:var(--t);
  overflow:hidden;
  width: 100%;
}

.course-card:hover{
  transform:translateY(-1px);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 10%);
}

/* изображение */
.card-media{
  aspect-ratio: 1;
  border-radius:var(--img-radius);
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
}

.card-media img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* или cover */
}

/* текстовый блок */
.card-content{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

/* заголовок и тег */
.card-head{
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  gap:5px;
  align-items:flex-start;
}

.course-title{
  flex:1;
  font-size:22px;
  font-weight:600;
  margin:0;
}

.course-tag{
  font-size:12px;
  font-weight:600;
  color:var(--muted);
}

/* список */
.course-list{
  list-style:none;
  padding:0;
  margin:8px 0 0 0;
  display:flex;
  flex-direction:column;
  gap:5px;
}

.course-list li{
  font-size:16px;
}

/* низ карточки */
.card-foot{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.teacher{
  font-size:12px;
  font-weight:600;
  color:var(--muted);
  margin:0;
}

.msg-btn{
  width:36px;
  height:36px;
  border-radius:8px;
  background:transparent;
  border:1px solid #0002;
  cursor:pointer;
  transition:var(--t);
}

.msg-btn:hover{
  transform:translateY(-3px);
  background:#0001;
}


.footer {
    background: #262626;
    border-radius: 45px;
    padding: 60px 80px;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    justify-items: center;
    max-width: 1840px;
    width:100%;
}

.footer-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: start;
}

/* Колонки */
.footer-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Заголовки */
.footer-title {
    font-size: 28px;
    font-weight: 500;
    margin:0;
}

/* Поддержка */
.footer-text {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.footer-support{
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 247px;
  flex-grow: 1;
}

.footer-support-inner-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Контакты */
.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 450px;
    flex-grow: 1;
}

.footer-contacts-inner-content {
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 10px;
    column-gap: 15px;
    width: 100%;
    align-items: center;
}

.footer-desc {
    font-size: 15px;
    opacity: 0.6;
}

.footer-phone {
    font-size: 18px;
    white-space: nowrap;
}

/* Соцсети */
.footer-socials {
    display: flex;
    gap: 15px;
}

.footer-icon {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    overflow: hidden;
    background: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.footer-icon img{
  width: 100%;
}

.footer-icon:hover {
    opacity: 0.5;
}

/* Разделители */
.footer-divider {
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
    align-self: stretch;
}


@media (max-width:1200px){

  .wrap {
    gap: 75px;
    max-width: 1200px;
    padding: 30px;
  }

  main{
    gap: 35px;
  }

  .cards-grid{
    gap: 15px;
  }

  .course-card{
    max-width:552px;
    height:234px;
  }

  .course-title{ font-size:18px; }
  .course-list li{ font-size:13px;}
  .course-tag, .teacher{ font-size:10px; }

  .card-media{ max-width:216px; }

  .footer-title{ font-size: 22px; }
  .footer-text{ font-size: 15px; }
  .footer-desc{ font-size: 10px; }
  .footer{padding: 50px 80px;}

  .courses-header-title{font-size: 45px;}
  .courses-header-number{font-size: 45px;}
  .courses-header-label{font-size: 15px;}
}

/* ===========================
   АДАПТИВ 1024 px (tablet)
   =========================== */
@media (max-width:1024px){

  .wrap {
    gap: 45px;
    max-width:1024px;
    padding: 20px;
  }

  main{
    gap: 30px;
  }

  .cards-grid{
    gap: 12px;
    /* grid-template-columns: minmax(0, 1fr); */
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .course-card{ 
    max-width:552px;
    height:234px;
  }

  .course-title{ font-size:18px; }
  .course-list li{ font-size:13px; }
  .course-tag, .teacher{ font-size:10px; }

  .card-media{ max-width:260px; }

  .footer-content{flex-wrap: wrap;}
  .footer-divider {display: none;}

  .courses-header-title{font-size: 40px;}
  .courses-header-number{font-size: 40px;}
  .courses-header-label{font-size: 13px;}
  .courses-header-inner{padding:20px 28px; border-radius: 30px;}
  .courses-header-semester{gap: 5px;}

  /* скрываем навбар */
    .nav__menu {
        display: none;
    }

    /* скрываем аккаунт (по желанию) */
    .nav__account {
        display: none;
    }

    /* показываем бургер */
    .nav__burger {
        display: flex;
    }

    /* логотип слева, бургер справа */
    .nav__inner {
        justify-content: space-between;
    }

}

/* ===========================
   АДАПТИВ 425 px (mobile)
   =========================== */
@media (max-width:425px){

  .wrap {
    gap: 25px;
    max-width: 425px;
    padding: 14px;
  }

  main{
    gap: 20px;
  }

  .cards-grid{
    gap: 9px;
  }

  .course-card{
    max-width: 332px;
    height: 140px;
    padding:10px;
    border-radius:16px;
  }

  .card-media{
    height:100%;
    border-radius:10px;
  }

  .card-content{
    padding:4px;
  }

  .course-title{ font-size:14px; }
  .course-list li{ display: none; }
  .course-tag, .teacher{ font-size:10px; }

  .msg-btn{
    width:32px;
    height:32px;
    border-radius:6px;
  }

  .footer-divider {display: none;}
  .footer-title{ font-size: 18px; }
  .footer-text{ font-size: 14px; }
  .footer-phone{font-size: 14px;}
  .footer-desc{ font-size: 10px; }
  .footer{padding: 30px 40px; border-radius:25px;}

  .courses-header-inner{border-radius:22px;}
  .courses-header-title{font-size: 30px;}
  .courses-header-number{font-size: 30px;}
  .courses-header-label{font-size: 10px;}

}


[data-view-block] {
    display: none;
}

body[data-view="courses"] [data-view-block="courses"],
body[data-view="video"]   [data-view-block="video"] {
    display: grid;
}

body[data-view="courses"] .courses-header {
    background: #2a2a2a;
}

body[data-view="video"] .courses-header {
    background: #1f2937;
}